<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.message.service.mapper.ImBusinessTypeMapper">
    <resultMap id="ImMessageMap" type="com.mf.message.service.entity.ImBusinessType">
        <result property="id" column="id"/>
        <result property="businessTypeCode" column="business_type_code"/>
        <result property="businessTypeName" column="business_type_name"/>
    </resultMap>

    <select id="findBusinessTypeByCode" resultMap="ImMessageMap" parameterType="string">
        select * from im_business_type
        <where>
            business_type_code = #{businessTypeCode}
        </where>
    </select>
</mapper>
