<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.message.service.mapper.ImMessageMapper">
    <resultMap id="ImMessageMap" type="com.mf.message.service.entity.ImMessage">
        <result property="id" column="id"/>
        <result property="fromUserId" column="from_user_id"/>
        <result property="fromUsername" column="from_username"/>
        <result property="toUserId" column="to_user_id"/>
        <result property="toUsername" column="to_username"/>
        <result property="businessTypeCode" column="business_type_code"/>
        <result property="businessTypeName" column="business_type_name"/>
        <result property="message" column="message"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <insert id="saveImMessage" useGeneratedKeys="true" keyProperty="id" parameterType="com.mf.message.service.entity.ImMessage">
        INSERT INTO im_message (from_user_id, from_username, to_user_id, to_username, business_type_code, business_type_name, message)
        VALUES (#{fromUserId,jdbcType=INTEGER},
                #{fromUsername,jdbcType=VARCHAR},
                #{toUserId,jdbcType=INTEGER},
                #{toUsername,jdbcType=VARCHAR},
                #{businessTypeCode,jdbcType=VARCHAR},
                #{businessTypeName,jdbcType=VARCHAR},
                #{message,jdbcType=VARCHAR})
    </insert>
    <select id="findMessages" resultMap="ImMessageMap" >
        select * from im_message
    </select>
    <select id="findMessageByUserId" resultMap="ImMessageMap" parameterType="long">
        select * from im_message
        <where>
            id = #{id}
        </where>
    </select>
</mapper>
